:root {
  --bg-color: #eae9e2;
  --text-color: #191617;
  --button-color: #1c6cc2;
  --completed-color: gray;
  --title: #c415c4;
  --risk: #009859;
}

[data-theme="dark"] {
  --bg-color: #191617;
  --text-color: white;
  --button-color: #017882;
  --completed-color: lightgray;
  --title: #ff566e;
  --risk: #2aa98e;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Source Code Pro", serif;
  overflow: hidden; 
  height: 100vh;
  transition: background 0.5s ease, color 0.5s ease;
}

button {
  color: var(--text-color); 
  background: none;
  border: none;
  padding: 7px 10px;
  cursor: pointer;
  transition: 0.5s ease;
}

h1 {
  color: var(--title);
  font-size: 2.5em; 
  font-weight: bold; 
  letter-spacing: 2px; 
  background: linear-gradient(90deg, var(--title), var(--button-color));
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  margin-bottom: 16px; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
  padding: 10px 0; 
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  padding: 1em;
  margin-bottom: 8px;
  color: var(--text-color);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 300ms ease;
}

span {
  width: 90%;
  text-align: start;
}

input[type="checkbox"] {
  display: none;
}

label {
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  text-align: start;
}

label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid var(--text-color);
  border-radius: 4px;
  background: var(--bg-color);
  transition: background 0.5s ease, color 0.5s ease;
}

input[type="checkbox"]:checked + label::before {
  background: var(--bg-color);
  border-color: var(--text-color);
}

input[type="checkbox"]:checked + label::after {
  content: "✔";
  position: absolute;
  left: 5px;
  top: -1px;
  font-size: 18px;
  color: var(--risk);
}