.completed {
  position: relative;
  color: var(--completed-color);
  /* overflow: hidden;  */
  text-align: start;
}

.completed::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--risk);
  animation: drawLine 1s forwards;
  transform: translateY(-50%);
  opacity: 0.6;
}

@keyframes drawLine {
  to {
    width: 100%;
  }
}

.todo-container {
  width: 600px;
  margin: auto;
  padding: 1em 5em;
  text-align: center;
  border-radius: 8px;
}

.delete-btn,
.delete-btn > span {
  border: none;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 16px;
}

.input-container input, .input-container-item {
  flex: 1;
  padding: 10px 14px;
  border: 1px solid var(--completed-color);
  border-radius: 4px;
  font-size: 16px;
  background: var(--bg-color);
  color: var(--text-color);
  margin: 0;
}

.input-container input:focus {
  outline: none;
  border-color: var(--risk);
  box-shadow: 0 0 7px rgba(76, 175, 80, 0.5);
}

.input-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--risk);
  border: none;
  text-decoration: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  color: white;
}

.input-container span {
  border: none;
  width: 100%;
}

.input-container button:hover {
  opacity: 0.8;
  transition: 0.5s ease;
}

.input-container button:active {
  transform: scale(0.95);
}

.input-container .material-icons {
  font-size: 24px;
}

.container {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.edit-btn {
  margin-left: auto;
}

.control {
  margin-left: auto;
}

.theme {
  border: none;
}

.theme i {
  font-size: 2.5em;
}

.cdk-drag {
  cursor: grab; 
}

.cdk-drop-list-dragging {
  cursor: grabbing !important; 
}
